*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
body{
    height: 100vh;
    font-family: 'Rubik', sans-serif;

}

.upper-body{
    background-image: url("images/pattern-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 35%;


}

.upper-body > div{
    margin-left: auto;
    margin-right: auto;
}

.heading{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    color: white;
    font-weight: 700;
}

.search-box{
    width: 40%;
}

.search-wrapper{
    display: flex;
}

.search{
    width: 100%;
    font-size: 18px;

    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em ;
    border: none;
    outline: none;
    border-radius: 14px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}



.submit{
    background-color: black;
    border: none;
    padding-left: 1.75em;
    padding-right: 1.75em;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

.stats-display{
   
    position: sticky;
    background-color: white;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 25%;
    border-radius: 14px;
}

.stats-wrapper{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding-bottom: 2em;
    padding-top: 2em;
  



}

.stats-wrapper > div{
    text-align: left;
    padding-left: 3em;
    padding-right: 3em;
    border-left: 1px solid hsl(0, 0%, 59%);
}

.stats-wrapper > div > p{

color: hsl(0, 0%, 59%) ;
}

.stats-wrapper > div > h2{
    padding-top: 0.75em;
}

#mapid{
    height: 65%;
    z-index: -1;
    
}

@media only screen and (max-width: 600px) {

    .search-box{
        width: 90%;
    }
    .upper-body{
        background-size: cover;
    }
    .stats-display{
        width: 90%;
        left: 5%;
        top: 18%;
    }

    .stats-wrapper{
        display: grid;
        grid-template-columns: auto ;
        row-gap: 1em;
    }

    .stats-wrapper > div{
        text-align: center;
        border: none;
    }
    .stats-wrapper > div > p{
        padding: 0;
    }


    .stats-wrapper > div > h2{
        padding: 0.25em 0 0 0;
        
    }
}